{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["standard", "standard-react"],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "jsx-quotes": [2, "prefer-double"],
    "no-console": 1,
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/jsx-tag-spacing": [2, { "beforeSelfClosing": "always" }],
    "react/jsx-space-before-closing": 0,
    "semi": [2, "never"]
  }
}
